
/* Big screen version */

@media only screen and (min-width: 1441px) {

.fixture {
  background-color: rgba(245, 245, 245, 0.864);
  width: 20rem;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-top: 8rem;
  
}

.fixture-header {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  margin: .4rem 0;
}

.fixture-teams {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.fixture-home, .fixture-away {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: 10rem;
  height: auto;
}

.fixture-team-logo {
  width: 5rem;
}

.fixture-team-name {
  font-weight: 400;
}

.vs {
  font-size: 4rem;
  margin-bottom: 3rem;
}

}

/* Laptop screen version */

@media only screen and (max-width: 1440px) {
  .fixture {
    background-color: rgba(245, 245, 245, 0.864);
    width: 18rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    
  }
  
  .fixture-header {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: .4rem 0;
  }
  
  .fixture-teams {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  
  .fixture-home, .fixture-away {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 10rem;
    height: auto;
  }
  
  .fixture-team-logo {
    width: 5rem;
  }
  
  .fixture-team-name {
    font-weight: 400;
  }
  
  .vs {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  
}